<?php
$CONFIG = array (
  'htaccess.RewriteBase' => '/',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/var/www/html/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/www/html/custom_apps',
      'url' => '/custom_apps',
      'writable' => true,
    ),
  ),
  'instanceid' => 'ocx9mioqsld3',
  'passwordsalt' => 'EzmG13oYXYPXeN/jh2rYH/ULvoGbh/',
  'secret' => 'Qd6+JqD6x9Y5W1pDyRieOgfDDdyYSbTiTtLR/buMxbTypl7f',
  'trusted_domains' => 
  array (
    0 => '192.168.1.6',
    1 => '159.65.196.4',
    2 => 'rockyspace.online',
  ),
  'owerwritehost' => 'rockyspace.online',
  'datadirectory' => '/var/www/html/data',
  'dbtype' => 'mysql',
  'version' => '24.0.5.1',
  'overwrite.cli.url' => 'http://192.168.1.6',
  'dbname' => 'ncdb',
  'dbhost' => 'nc_db',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'oc_atlas',
  'dbpassword' => 'M7PFWWy2@}Qv)=.N:+0RHB([K(ron!',
  'installed' => true,
);
